---
import { getImage, Image } from "astro:assets";

import { getEntry } from "astro:content";

import Tag from "../components/Tag.astro";
import Button from "../components/Button.astro";

import getImgFromAssets from "../utils/get-img-from-assets";

interface Props {
  id: string;
}

const { id } = Astro.props;

const proyecto = await getEntry("proyectos", id);

const img = getImgFromAssets(String(proyecto?.data.img));
---

<article class="text-neutral-100 flex flex-col md:flex-row gap-10 items-start">
  <a href={proyecto?.data.link}>
    <Image
      src={img}
      alt=""
      class="rounded-lg min-w-[450px] hover:scale-105 transition"
      width={600}
    />
  </a>
  <div class="flex flex-col gap-3">
    <a href={proyecto?.data.link}>
      <h2 class="font-bold text-[30px] mb-0.5 leading-none">
        {proyecto?.data.name}
      </h2>
    </a>
    <div class="flex gap-2">
      {proyecto?.data.tags.map((tag) => <Tag id={tag} />)}
    </div>
    <p
      class="text-base text-slate-200 text-balance"
      set:html={proyecto?.data.description}
    />

    <div class="flex gap-3">
      {proyecto?.data.buttons.map((btn) => <Button id={btn} />)}
    </div>
  </div>
</article>

<style>
  a:hover {
    text-shadow: #99f6e3f8 0px 0 4px;
  }
</style>
