---
interface Props {
  list: string[];
  position: string;
  location: string;
  time: string;
  ball?: string;
}

const {
  list,
  position,
  location,
  time,
  ball = "after:bg-teal-200 after:shadow-[0_0px_10px_rgba(8,_112,_184,_0.7)] after:shadow-[#99f6e344]",
}: Props = Astro.props;
---

<article
  class="grid grid-cols-[max-content_1fr] gap-6 w-full bg-night-600 p-8 rounded-xl"
>
  <div id="progression-decorator" class={ball} aria-hidden="true"></div>
  <div>
    <header>
      <h3 class="text-xl font-bold" set:html={position} />
      <p set:html={location} />
      <p class="text-sm mt-2 text-stone-300">{time}</p>
    </header>
    <div class="mt-4">
      <ul
        class="flex flex-col gap-2 lg:gap-0 max-w-md space-y-1 lg:list-disc list-inside text-stone-350"
      >
        {list && list.map((item) => <li set:html={item} />)}
      </ul>
    </div>
  </div>
</article>

<style>
  #progression-decorator {
    display: flex;
    --size: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--size);
    position: relative;
  }

  #progression-decorator::before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: rgb(41 37 36);
    border-radius: 50px;
    display: flex;
    position: relative;
  }

  #progression-decorator::after {
    position: absolute;
    top: 10px;
    content: "";
    display: flex;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
  }
</style>
